<p id="notice"><%= notice %></p>

<p>
  <strong>A:</strong>
  <%= @test.a %>
</p>

<p>
  <strong>B:</strong>
  <%= @test.b %>
</p>

<p>
  <strong>C:</strong>
  <%= @test.c %>
</p>

<p>
  <strong>D:</strong>
  <%= @test.d %>
</p>

<p>
  <strong>E:</strong>
  <%= @test.e %>
</p>

<p>
  <strong>F:</strong>
  <%= @test.f %>
</p>

<p>
  <strong>G:</strong>
  <%= @test.g %>
</p>

<p>
  <strong>H:</strong>
  <%= @test.h %>
</p>

<p>
  <strong>I:</strong>
  <%= @test.i %>
</p>

<p>
  <strong>J:</strong>
  <%= @test.j %>
</p>

<p>
  <strong>K:</strong>
  <%= @test.k %>
</p>

<p>
  <strong>L:</strong>
  <%= @test.l %>
</p>

<p>
  <strong>M:</strong>
  <%= @test.m %>
</p>

<p>
  <strong>N:</strong>
  <%= @test.n %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
